<div id="main" class="fade_in" hx-swap-oob="true">
  <div id="player_wrapper">
    <!-- OvenPlayer will be initialized inside this element. -->
    <div id="player_id"></div>

  </div>

  <script>
    var ovenPlayer = null;

    function loadOvenPlayer() {
      if (ovenPlayer) {
        ovenPlayer.remove();
      }

      ovenPlayer = OvenPlayer.create('player_id', {
        sources: [
          {
            label: 'label_for_webrtc',
            // Set the type to 'webrtc'
            type: 'webrtc',
            // Set the file to WebRTC Signaling URL with OvenMediaEngine 
            file: 'wss://{{ host }}:3334/app/{{ stream }}/{{ uuid }}',
          }
        ],
        autoStart: true,
        timeout: 600000,
      });

      ovenPlayer.on('error', function () {
        setTimeout(function () {
          loadOvenPlayer();
        }, 1000)
      });
    }

    loadOvenPlayer();
  </script>
</div>