<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OME Auth Dashboard</title>
  <style>
    #main-div {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    th {
      text-align: start;
      width: 200px;
    }

    td {
      text-align: start;
      width: 200px;
    }

    .error {
      color: red;
    }

    .notify {
      animation: notify linear 1s;
    }

    @keyframes notify {
      from {
        background-color: orangered;
      }

      to {
        background-color: transparent;
      }
    }
  </style>
</head>

<body>
  <script src="https://unpkg.com/htmx.org@1.9.4"></script>

  <h1>Stream ID: <code>{stream}</code></h1>

  <div class="list" id="statistics" hx-get="/statistics?api_key={api_key}" hx-trigger="load, every 1s"></div>
  <div class="list" id="queue" hx-get="/queue?api_key={api_key}" hx-trigger="load, every 1s, click .btn"></div>
</body>