<div class="fade_in">
  <h1>Admin Dashboard</h1>

  <table>
    <tr>
      <th>Stream ID</th>
    </tr>
    {% for stream in streams %}
    <tr>
      <td><code>{{ stream }}</code></td>
      <td><button class="btn red_btn" hx-post="/admin/remove_stream?id={{ id }}&key={{ key }}&stream_id={{ stream }}"
          hx-target="body">Remove</button>
    </tr>
    {% endfor %}
  </table>

  <button id="create_stream" class="btn green_btn" hx-get="/admin/create_stream_menu?id={{ id }}&key={{ key }}"
    hx-target="body">Create new
    stream</button>

</div>